<section>
  <div id="fb-login">
    <a href='/auth/facebook'>Login with Facebook</a>
    
  <!--  <fb:login-button perms="publish_stream">
      Login with Facebook
    </fb:login-button>-->
  </div>
  <ol id="intro">
    <li>Do the things you love</li>
    <li>Record your adventures</li>
    <li>Share your experiences</li>
  </ol>
</section>
<%= render 'common/facebook' %>
<script type='text/javascript'>
  $(document).ready(function() {
    WP.initHomePage();
  });
</script>
