<section>
  <div id="fb-login">
    <fb:login-button perms="publish_stream">
      Login with Facebook
    </fb:login-button>
  </div>
</section>
<%= render 'common/facebook' %>
<script type='text/javascript'>
  $(document).ready(function() {
    WP.initHomePage();
  });
</script>
