<article id='activity_1' style='<%= @style %>'>
  <h2><%= activity.title %></h2>
  <p>on <%= activity.occurred_on %></p>
  <p>with Liz Kroboth</p>
  <%= simple_format( activity.description ) %>
  <p>Edit&nbsp;Delete</p>
  <p>Like</p>
  <p>Comments</p>
</article>