<header>
  <%= render 'common/title_bar' %>
  <%= render 'common/action_bar' %>
</header>
<section id='activities'>
  <article id='activity_1'>
    <h2>Hiking Portola Redwoods State Park</h2>
    <p>8/27/2011</p>
  </article>
  <article id='activity_2'>
    <h2>Dinner at Tataki Sushi</h2>
    <p>8/13/2011</p>
  </article>
</section>
<footer>
</footer>