<section id='activities'>
  <div id='new-activity-btn'><a href='#' rel="#new-activity">New Activity</a></div>
  <%= render 'new_activity' %>
  <div id='activity-list'>
    <%= render 'activities' %>
  </div>
  <div id='more'>
    <a href='#' id='show-more'>More</a>
  </div>
</section>
<%= render 'common/facebook' %>
<%= javascript_include_tag 'jquery.facebook.multifriend.select.min.js' %>
<script type='text/javascript'>
  $(document).ready(function() {
    WP.initActivitiesPage();
  });
</script>
