<div id="action-bar">
  <div class="action-item <%= @activities %>">
    Activities
  </div>
  <div class="action-item">
    Friends
  </div>
  <div class="action-item">
    Profile
  </div>
  <div class="action-item">
    News
  </div>
  <br style='clear:both;'>
</div>