<div id="fb-root"></div>
<script>
/*   FB.init({ 
      appId:'167725063305571', 
      cookie:true, 
      status:true, 
      xfbml:true 
   });*/
   window.fbAsyncInit = function() {
     FB.init({
       appId: '<%= ENV['WP_FACEBOOK_KEY'] %>', 
       status: true, 
       cookie: true, 
       xfbml: true
      });
      
	    fbApiInit = true;
    };
    
    (function() {
      var e = document.createElement('script'); e.async = true;
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
	    document.getElementsByTagName("head")[0].appendChild(e);
    }());
</script>

